/* 聊天容器样式*/
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container * {
    max-width: 100%;
}
/*滑动容器样式*/
.scrollable {
    flex: 1;
    overflow-y: auto;
}
.scrollable * {
    max-width: 100%;
}
.scrollable-content {
    display: flex;
    flex-direction: column;
}
/*回复消息样式*/
.item {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 20vw;
    margin-top: 5px;
    margin-bottom: 30px;
}
.image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.text {
    font-weight: bold;
    margin-top: 3px;
    user-select: none;
    font-size: 12px;
}
.text-red {
    background-color: #C9D6DE;
    border-radius: 5px;
    color: #000;
    padding: 5px;
    margin-right: auto;
}
/*发送消息样式*/
.item2 {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-left: 20vw;
    margin-top: 5px;
    margin-bottom: 30px;
}
.image2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.text2-container2 {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}
.text2 {
    font-weight: bold;
    margin-top: 3px;
    text-align: right;
    user-select: none;
    font-size: 12px;
}
.text2-red2 {
    text-align: left;
    background-color: #FF0000;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    margin-left: auto;
}
/*底部编辑框样式*/
.bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    height: 50px;
    margin: 1vh;
}
.textarea {
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    background-color: #F1F5F7;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    display: none;
}
.send-btn {
    margin: 5px;
    opacity: 0.7;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #333;
    padding: 10px;
    user-select: none;
    display: none;
}
.send-btn:active {
    background-color: #888;
}
/*系统提示样式*/
.tips {
    margin: auto;
    padding: 4px;
    margin-top: 20px;
    background-color: #cccccc;
    color: #ffffff;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    user-select: none;
}
.UserTips {
    margin: auto;
    padding: 4px;
    margin-top: 20px;
    background-color: #555555;
    color: #ffffff;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    user-select: none;
}
/* 放大图片框的样式*/
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.modal-image {
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    width: 100%;
    height: auto;
}
/* 弹窗样式*/
.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    z-index: 9999;
}
.toast.show {
    opacity: 1;
}
/*指定字变色*/
.ACRONYM::before {
    content: attr(data-symbol);
    color: blue;
}
.ACRONYM2::before {
    content: attr(data-symbol);
    color: #EFDC05;
}
/*删除聊天记录样式*/
#json-container {
    overflow-y: scroll;
    height: calc(100vh - 80px);
}
#json-container * {
    max-width: 100%;
    margin: auto;
    margin: 10px;
    user-select: none;
}
#delete-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
#delete-button {
    margin-left: 10px;
    margin-right: 10px;
    width: 60vw;
    height: 50px;
    user-select: none;
    border-radius: 15px;
    opacity: 0.7;
    border: none;
}
#delete-button:active {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 1);
    background-color: #333;
}
#delete-button2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
#delete-button2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 60vw;
    height: 50px;
    user-select: none;
    border-radius: 15px;
    opacity: 0.7;
    border: none;
}
#delete-button2:active {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 1);
    background-color: #333;
}
.checkbox-item {
    margin-bottom: 10px;
    min-width: 50%;
    min-height: 20%;
    padding: 10px;
    border-radius: 15px;
    background-color: #f0f0f0;
}
/*页面加载动画*/Blush
.loader {
 position: relative;
 width: 2.5em;
 height: 2.5em;
 -webkit-transform: rotate(165deg);
     -ms-transform: rotate(165deg);
         transform: rotate(165deg);
}
.loader:before, .loader:after {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 display: block;
 width: 0.5em;
 height: 0.5em;
 border-radius: 0.25em;
 -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
}
.loader:before {
 -webkit-animation: before8 2s infinite;
         animation: before8 2s infinite;
}
.loader:after {
 -webkit-animation: after6 2s infinite;
         animation: after6 2s infinite;
}
@-webkit-keyframes before8 {
 0% {
  width: 0.5em;
  -webkit-box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
          box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }
 35% {
  width: 2.5em;
  -webkit-box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
          box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
 }
 70% {
  width: 0.5em;
  -webkit-box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
          box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
 }
 100% {
  -webkit-box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
          box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }
}
@keyframes before8 {
 0% {
  width: 0.5em;
  -webkit-box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
          box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }
 35% {
  width: 2.5em;
  -webkit-box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
          box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
 }
 70% {
  width: 0.5em;
  -webkit-box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
          box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
 }
 100% {
  -webkit-box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
          box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }
}
@-webkit-keyframes after6 {
 0% {
  height: 0.5em;
  -webkit-box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
          box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
 35% {
  height: 2.5em;
  -webkit-box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
          box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
 }
 70% {
  height: 0.5em;
  -webkit-box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
          box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
 }
 100% {
  -webkit-box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
          box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
}
@keyframes after6 {
 0% {
  height: 0.5em;
  -webkit-box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
          box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
 35% {
  height: 2.5em;
  -webkit-box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
          box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
 }
 70% {
  height: 0.5em;
  -webkit-box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
          box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
 }
 100% {
  -webkit-box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
          box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
}
.loader {
    height: 100vh;
    margin: auto;
    text-align: center;
    user-select: none;
}